@use "../../node_modules/@nichoth/forms/style/text-input";
@use "../../node_modules/@nichoth/forms/style/button";

body {
    background-color: pink;
}

form {
    max-width: 40rem;
    margin: 0 auto;
}

.controls {
    margin-top: 1rem;
    button {
        margin-right: 1rem;
    }
}
